//  All non-bold widget text
@font-face {
  font-family: 'Vodafone Regular';
  src: url('../assets/fonts/VodafoneRg.ttf');
}

//  All bold widget text
@font-face {
  font-family: 'Vodafone Regular Bold';
  src: url('../assets/fonts/VodafoneRgBd.ttf');
}
