//  Colors
$accent1:         #D80027; //Top bar line & Tabs text
$accent2:         #E8E8E8; //Gray gradient start color
$accent3:         #666666; //Job title
$accent4:         #333333; //Show more button text & No users message text
$accent5:         #000000; //IUser name and surname & Birth date

//  Fonts
$font-height:     18px;

//  Content Viewport
$viewport-narrow:        414px;
$viewport-wide:        800px;


//  Width Sizes
$mobile:          320px;
$tablet:          768px;
$laptop:          1366px;
$full-hd:         1920px;
